# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/CAIDA/
/fall03.tar/
/Old_datasets/
/fall03.tar.gz/
